name: s3-deploy

on:
  push:
  workflow_call:
    inputs:
      s3-bucket-name:
        description: 'Nome do bucket'
        required: true
        type: string
    secrets:
      aws-region:
        description: 'AWS Region'
        required: true
      aws-access-key-id:
        description: 'AWS Key ID'
        required: true
      aws-secret-access-key:
        description: 'AWS Secret Access Key'
        required: true

jobs:
  react-deploy-s3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Build React App
        id: build-react-app
        run: npm install && CI=false npm run build
      
      - name: Upload build dir
        uses: actions/upload-artifact@v3
        with:
          name: /build/
          path: /build/
          retention-days: 1
